# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
*.css
*.js

# Media files
media/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Log files
*.log

# Dependency directories
venv/
env/